[submodule "packages/ast-analyzer"]
    path = packages/ast-analyzer
    url = https://github.com/ZababurinSergei/ast-analyzer
    branch = main
[submodule "packages/extensions"]
    path = packages/extensions
    url = https://github.com/ZababurinSergei/chrome-extension-deepseek.git
    branch = main
[submodule "packages/nk-unit"]
    path = packages/unit
    url = https://github.com/ZababurinSergei/unit.git
    branch = main
[submodule "packages/devextreme-migration"]
	path = packages/devextreme-migration
	url = git@gitlab.infoenergo.loc:internal/devextreme-migration.git
    branch = rc
[submodule "packages/infoenergo-ui"]
	path = packages/infoenergo-ui
	url = git@gitlab.infoenergo.loc:infoenergo.npm/infoenergo-ui.git
    branch = rc
[submodule "packages/asuse-ai"]
	path = packages/asuse-ai
	url = git@gitlab.infoenergo.loc:asuse.ai/back/asuse-ai.git
[submodule "packages/front-asuse-ai-infoenergo"]
	path = packages/front-asuse-ai-infoenergo
	url = git@gitlab.infoenergo.loc:asuse.ai/front/front-asuse-ai-infoenergo.git


